/* App.css */
body {
  background-color: #dfe7f4;
}

.container-md {
  height: 100vh;
  margin-top: 10vh;
}

.container-sm {
  margin-top: 10vh;
}

span {
  color: #4034cf;
}

.image-fluid {
  height: 80vh !important;
}

#navbarNav li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  transition: 0.3s ease;
}

#navbarNav li a:hover {
  color: #4034cf;
}
